body{
    font-family: 'Black And White Picture', sans-serif;
    
}

div#contenedor{
    width: 100%;
    border: 1px solid transparent;
    position: relative;
    height: 200px;
    display: none;
}

div#slider{
    border-radius: 10px;
    border: 2px solid #a80077;
    width: 95%;
    margin: 0 auto;
    min-height: 550px;
    margin-top: 20px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
    padding: 0px;
}

div#contenedor #slider div.elemento{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}

div#contenedor #slider div.elemento img{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

div#contenedor #slider div.elemento p.gancho{
    display: block;
    position: absolute;
    font-size: 1.4em;
    font-weight: bolder;
    line-height: 25px;
    color: #DF7401;
    width: 29%;
    right: 1%;
    top: 5%;
    text-shadow: 2px 2px 3px white,
                  -2px -2p 3px white;
}
footer{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 0.8em;
    margin-top: 2px;
    color: #f7f7f7;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#cb60b3+0,c146a1+10,a80077+54,db36a4+100 */
    background: #cb60b3; /* Old browsers */
    background: -moz-linear-gradient(top,  #cb60b3 0%, #c146a1 10%, #a80077 54%, #db36a4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #cb60b3 0%,#c146a1 10%,#a80077 54%,#db36a4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #cb60b3 0%,#c146a1 10%,#a80077 54%,#db36a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#db36a4',GradientType=0 ); /* IE6-9 */

}
header{
    background-color:  #350947;
    text-align: right;

}

header figure{
    float: left;
    margin-left: 100px;
}

header figure img{
    width: 70px;
    height: 70px;
}

header h1{
    padding: 0px;
    margin-top: 20px;
    font-size: 1.6em;
    float: left;
    display: block;
    color: #f7f7f7;
    
}
header nav ul{
    padding: 0px;
    margin: 0px;
    text-align: center;
    list-style: none;
}

header nav ul li{
    height: 35px;
    margin-top: 10px;
    width: 100%;
    display: inline-block;
    
}
header nav ul li a{
    text-decoration: none;
    font-weight: bold;
    padding: 15px 25px;
    color: #f7f7f7;
}

section {
    background: url(../img/fondo.jpg);
}

section article.producto1{
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    vertical-align: top;
    position: relative;
    border-radius: 0px 0px 15px 15px;
    margin: 50px 0px 20px 10%;
    width: 60%;
    font-size: 1.2em;

    box-shadow: 0px 0px 10px #f7f7f7;
}

section article.producto1 figure{
    float: left;
    margin-top: -20px;
    margin-left: -35px;
    
}

section article.producto1 figure img{
    border-radius: 50%;
    border-width: 5px;
    border-style: solid;
    width: 180px;
    height: 140px;
}
section article.producto1 div{
    width: 90%;
    margin: 30px 4% 10px 5%;
    border-width: 2px;
    border-style: solid;
    position: relative;
    padding-top: 20px;
    font-size: 0.9em;
    border-radius: 15px;
} 

section article.producto1 div span{
    position: absolute;
    top: -15px;
    left: 10px;
    line-height: 20px;
    border-radius: 15px;
    text-decoration: underline;
    background-color: white;
    padding: 3px 10px;
}
section article.producto1 div ul{
    list-style: none;
    margin: 0px;
    padding: opx;
}
section article.producto1 div ul li{
    font-weight: bolder;
    vertical-align: middle;
    display: inline-block;
    margin: 5px 3%;
    width: 26%    ;
}
section article.producto1 h2{
    padding: 0px;
    text-align: right;
    margin: 15px 20px 0px 165px;
    font-size: 1.2em;
}

section article.producto1 p{
    font-size: 0.8em;
    text-align: justify;
    margin: 15px 10px 5px 30px;
}


section article.producto1 span.tipo{
    position: absolute;
    border-width: 2px;
    border-style: solid;
    top: -38px;
    right: -2px;
    height: 30px;
    line-height: 30px;
    padding: 2px 10px;
    border-radius: 15px 15px 0px 0px;
    font-weight: bolder;
}

/***************************************/
/***********COLORES DESAYUNO************/
/***************************************/


section article.desayuno,
section article.desayuno figure img,
section article.desayuno div,
section article.desayuno span.tipo{
    border-color: #154419;
    color: white;
}

section article.desayuno h2{
    color: #154419;
}

section article.desayuno span.tipo,
section article.desayuno div,
section article.desayuno div span{
    background-color: #154419;
}

section article.desayuno p{
    color: #3E7242;
}

section article.desayuno{
    background-color: #C0EE90;
}

section article.desayuno div span,
section article.desayuno div ul li{
    color: #9CD95C;
}

/***************************************/
/***********COLORES REFRIGERIOS************/
/***************************************/


section article.refrigerios,
section article.refrigerios figure img,
section article.refrigerios div,
section article.refrigerios span.tipo{
    border-color: #0431B4;
    color: white;
}

section article.refrigerios h2{
    color: #0431B4;
}

section article.refrigerios span.tipo,
section article.refrigerios div,
section article.refrigerios div span{
    background-color: #0431B4;
}

section article.refrigerios p{
    color: #0174DF;
}

section article.refrigerios{
    background-color: #58ACFA;
}

section article.refrigerios div span,
section article.refrigerios div ul li{
    color: #58ACFA;
}

/***************************************/
/***********COLORES DESAYUNO************/
/***************************************/


section article.desayuno,
section article.desayuno figure img,
section article.desayuno div,
section article.desayuno span.tipo{
    border-color: #154419;
    color: white;
}

section article.desayuno h2{
    color: #154419;
}

section article.desayuno span.tipo,
section article.desayuno div,
section article.desayuno div span{
    background-color: #154419;
}

section article.desayuno p{
    color: #3E7242;
}

section article.desayuno{
    background-color: #C0EE90;
}

section article.desayuno div span,
section article.desayuno div ul li{
    color: #9CD95C;
}

section div.news{
    width: 30%;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    margin-right: 20px;
    float: right;
    margin-top: 20px;
    display: none;
}

section div.news article.post{
    width: 95%;
    margin-left: 2%;
    margin-top: 25px;
    border-top: 2px solid #440a4e;
}
section div.news h2{
    text-align: center;
}
section div.news h3{
    margin-left: 85px;
}

section div.news figure{
    float: left;
    margin-top: 10px;
}

section div.news figure img{
    width: 70px;
}
section div.news p{
    font-size: italic;
    font-size: 0.8em;
    text-align: justify;
    margin: 5px 5% 20px 5%;
}

section div.news video{
    width: 90%;
    margin: 0px 5%;
}

@media screen and (min-width: 480px){
    header nav ul li{
        width: 20%  !important;
    }
}

@media screen and (min-width: 767px){
    header nav ul li{
        width: 11%;
    }
    div#contenedor{
        display: inline;
    }
    section article.producto1{
        width: 30%;
        margin: 50px 1% 20px 5%;
    }

}

@media screen and (min-width: 950px){
    section article.producto1{
        width: 35%;
        margin: 50px 1% 20px 5%;
    }
    section div.news{
        display: inline;
        width: 25%;
    }
}